img
{
	width:100%;
	height:10%;
	
}
h3
{
	font-size:35px;
	color:green;
	
}
#test
{
	margin-left:2em;
}
.coul
{
	color:green;
	font-size:12px;
	font-style: normal;
}
body
{
	font-style: italic;
	font-size: 1.2rem;
}